# Advent of Code : Day 5
https://adventofcode.com/2022/day/5

### Part 1

In [111]:
import pandas as pd

#pull in data from txt (keeping blank rows)
with open('Day5_Part1_input.txt') as f:
    lines = f.readlines()
df_raw=pd.read_csv('Day5_Part2_input.txt',sep="  ", header=None, skip_blank_lines=False)

#pull in data from txt (keeping blank rows)
full_s=''
j=1
while j < len(lines[0]):
    i=0
    while i < len(lines):
        full_s+=lines[i][j]
        i+=1
    full_s+=" "
    j+=4
full_s.split()

C:\Users\patri\AppData\Local\Temp\ipykernel_13620\1709267170.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_raw=pd.read_csv('Day5_Part2_input.txt',sep="  ", header=None, skip_blank_lines=False)

['JZGVTDBN',
 'FPWDMRS',
 'ZSRCV',
 'GHPZJTR',
 'FQZDNJCT',
 'MFSGWPVN',
 'QPBVCG',
 'NPBZ',
 'JPW']

In [104]:
df_steps=pd.read_csv('Day5_Part2_input.txt',sep="  ", header=None, skip_blank_lines=False)
df_steps['move'] = df_steps[0].str[5:7].astype('int')
df_steps['from'] = df_steps[0].str[-6].astype('int')
df_steps['to'] = df_steps[0].str[-1].astype('int')
df_steps
l_move=df_steps['move'].to_list()
l_from=df_steps['from'].to_list()
l_to=df_steps['to'].to_list()
df_steps.head(20)

C:\Users\patri\AppData\Local\Temp\ipykernel_13620\1090124768.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_steps=pd.read_csv('Day5_Part2_input.txt',sep="  ", header=None, skip_blank_lines=False)

                      0  move  from  to
0    move 2 from 4 to 6     2     4   6
1    move 1 from 9 to 5     1     9   5
2    move 3 from 2 to 4     3     2   4
3    move 8 from 4 to 7     8     4   7
4    move 2 from 9 to 7     2     9   7
5    move 3 from 8 to 3     3     8   3
6    move 2 from 1 to 2     2     1   2
7    move 5 from 7 to 9     5     7   9
8    move 1 from 9 to 4     1     9   4
9    move 1 from 8 to 3     1     8   3
10   move 1 from 3 to 4     1     3   4
11   move 2 from 4 to 9     2     4   9
12   move 7 from 3 to 5     7     3   5
13   move 6 from 1 to 8     6     1   8
14  move 11 from 7 to 9    11     7   9
15  move 12 from 5 to 3    12     5   3
16   move 6 from 6 to 9     6     6   9
17   move 3 from 3 to 8     3     3   8
18   move 4 from 2 to 7     4     2   7
19   move 3 from 5 to 7     3     5   7

In [112]:
str_array=full_s.split()
curr_step=0
n_steps = len(df_steps['to'])
while curr_step < n_steps:
    count_moves=0
    n_moves , n_from, n_to = l_move[curr_step], l_from[curr_step], l_to[curr_step]
    n_from=n_from-1
    n_to=n_to-1
    while count_moves < n_moves:

        str_array[n_to]=''.join((str_array[n_from][0],str_array[n_to]))
        str_array[n_from]=str_array[n_from][1:]       
        count_moves+=1
    curr_step+=1

str_final=''
for ind_str in str_array:
    str_final+=ind_str[0]
print(str_final)

GFTNRBZPF

### Part 2

In [113]:
str_array=full_s.split()

curr_step=0
n_steps = len(df_steps['to'])
while curr_step < n_steps:
    count_moves=0
    n_moves , n_from, n_to = l_move[curr_step], l_from[curr_step], l_to[curr_step]
    n_from=n_from-1
    n_to=n_to-1
    n_moves=n_moves
    
    str_array[n_to]=''.join((str_array[n_from][:n_moves],str_array[n_to]))
    str_array[n_from]=str_array[n_from][n_moves:]       
    curr_step+=1

str_final=''
for ind_str in str_array:
    str_final+=ind_str[0]
print(str_final)

VRQWPDSGP